{% extends "rate/layout.html" %}
{% load static %}

{% block content %}
{% include "rate/nav.html" %}

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
   integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
   
   {% if user.is_authenticated %}
   <hr>
         <a href="{% url 'new_project' %}">
            <button class='btn btn-dark'><i class="fas fa-plus-circle"></i> Add Project</button>
         </a>
    
   {% endif %}

   <div class="card"> 
      {% for prjct in projects  %}
         <a href="{% url 'project_view' prjct.id %}">
            <div class="card-title">
                  <img width="100px;" src="{{ prjct.author.avatar.url }}" alt="">

                  <h4>{{ prjct.name }}</h4>
               </div> 
               <div class="card-body">
                  <img width="500px;" src="{{ prjct.img.url }}" alt="{{ prjct.name }}">
               </div>
               <div class="project-desc">
                  <div class="author">
                    
                     <p>{{ prjct.author.user.first_name }} {{ prjct.author.user.last_name }}</p>
                  </div>

               </div>        
                   
         </a>
      {% endfor %}
   </div>

   <style>
      .card {
  width: 80%;
  min-height: 460px;
  margin-top: 60px;
  box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
  background: #fff;
  border-radius: 12px;
  max-width: 700px;
  position: relative;
}
   </style>
  
{% endblock content %}