{% load static %}
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<nav style="display:flex; flex-direction: right; justify-content: space-around;">
<img width=70px; src="https://png.pngtree.com/element_pic/16/11/02/bd886d7ccc6f8dd8db17e841233c9656.jpg">
   <div>
      <a href="{% url 'home' %}">
         <h1 style="font-family: 'Permanent Marker', cursive; text-decoration: none; color:#fff;">Accolade</h1>
      </a>
   </div>
   <div style="padding-top: 2%;" class="searchform">
      <form action="{% url 'search' %}" method="get">
         {% csrf_token %}
         <input type="text" name="project_search" id="prjct-search" placeholder="Search for a project">
      </form>
   </div>
   {% if user.is_authenticated %}
   <div style="padding-top: 2%;">
      <a class='prfl-icon' href="{% url 'profile' %}">
         <i style="color: #fff; font-size: 2em;" class="fas fa-user-circle"></i>
      </a>
      {% else %}
      <a href="{% url 'login' %}">
            <button style="margin-top: 20%;" class="btn btn-dark" type="submit">Log In</button>
      </a>
   </div>

   {% endif %}

</nav>

<style>
   nav {
      background-color: #051526;
   }
</style>