{% extends "rate/layout.html" %}
{% load static %}

{% block content %}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
   integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="nav-bg">
   {% include "rate/nav.html" %}
</div>

   
<h1 class="title">{{ project.name }} <a href="{{project.link}}"><i class="fas fa-external-link-alt"></i></a></h1>
     
         <img src="{{ project.img.url }}" alt="">
      
            <img src="{{ project.author.avatar.url }}" alt="">

         <p>{{ project.author.user.first_name }} {{ project.author.user.last_name }}</p>
      <div class="project-meta">
         

         <h5>{{ project.time_published|date:'M d, Y' }}</h5>
         <div class="ratings">
            <div class="overall">
               <i class="fas fa-star"></i>
               <div>
                  <h1>{{ average|floatformat }}</h1>
               </div>
            </div>
         </div>
      </div>
      <div class="description">

         <p>{{ project.description }}</p>
      </div>
      <div class="reviews">
         {% for rating in ratings  %}
         <div class="prjct-review">
            <div class="author">
               <div>
                  <img src="{{ rating.rated_by.avatar.url }}" alt="">
               </div>
               <p>{{ rating.rated_by.user.username }}</p>
            </div>
            <p class="the-review">{{ rating.review }}</p>
            <div class="ratings">
               <div>
                  <i class="fas fa-star"></i>
                  <div>
                     <h1>{{ rating.design }}</h1>
                  </div>
               </div>
               <div>
                  <i class="fas fa-star"></i>
                  <div>
                     <h1>{{ rating.usability }}</h1>
                  </div>
               </div>
               <div>
                  <i class="fas fa-star"></i>
                  <div>
                     <h1>{{ rating.content }}</h1>
                  </div>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
      <div class="rating-form">
         <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
         </form>
      </div>
   </div>


<style>
   .rating-form {
      padding: 1% 0;
   }

   ul {
      padding: 0;
   }

   li {
      display: inline-block;
   }

   li label>input {
      display: none;
   }

   li#id_design label {
      > input:checked {
         font-family: "Font Awesome 5 Free";
         content: '\f005';
         display: inline-block;
         color: rgba(#333,0.2);
         font-weight: 900;
      }
      ~ ::before {
         font-family: "Font Awesome 5 Free";
         content: '\f005';
         display: inline-block;
         color: rgba(#333,0.2);
         font-weight: 900;
      }      
   }

   li > label::before {
      cursor: pointer;
      font-family: "Font Awesome 5 Free";
      content: '\f005';
      display: inline-block;
      color: rgba(#333,0.2);
      font-weight: 900;
   }

   li > label:hover::before,
   li > label:hover ~ label::before {
      cursor: pointer;
      font-family: "Font Awesome 5 Free";
      content: '\f005';
      display: inline-block;
      color: clr(scndry);
      font-weight: 900;
   }

}
</style>

{% endblock content %}